torch
torchvision
roma
evo
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
gdown
imageio
wandb
scikit-learn
scikit-image
prettytable
pyntcloud
h5py
plyfile
open3d
dearpygui
imageio-ffmpeg